@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.container p{
    font-family: 'PT Sans Caption', sans-serif;
    color: whitesmoke;
    font-size: 30px;
}

.container h1 {
    font-family: 'Permanent Marker', cursive;
    color: whitesmoke;
    font-size: 65px;
}
.navbar {
    background-color: rgb(228, 4, 4);
}
.navbar-brand {
    color: rgb(245, 245, 245);
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
}

a{
    font-family: 'PT Sans Caption', sans-serif;
}
.collapse button {
    color: white;
    border-color: white;
    font-family: 'PT Sans Caption', sans-serif;
}
.jumbotron {
    background-size: cover;
    background-position: center;
    background-image: url("images/ourteam.jpg");

}



.btn-outline-light {
    color: rgb(65, 0, 0);
    background-color: rgb(228, 4, 4);
}
img {
    width: 100%;
}
h5 {
    font-family: 'Permanent Marker', cursive;
    color: rgb(228, 4, 4);
    font-size: 40px;
}

h7 {
    font-family: 'Permanent Marker', cursive;
    color: whitesmoke;
    font-size: 40px;
}

.card {
    margin: 3px;
}
